# Dependências do host
node_modules

# Artefatos de build local
.next

# Arquivos do Git
.git
.gitignore

# Arquivos de ambiente (NUNCA inclua em uma imagem)
.env
.env.local
.env.development
.env.production

# Arquivos do Docker
Dockerfile
docker-compose.yml

# Outros
README.md