# Arquivos e pastas do Docker
Dockerfile
.dockerignore

# Dependências
node_modules

# Build do Next.js
.next

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Arquivos de ambiente locais (se houver)
.env.local
